h1 {
  padding-top: 50px;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 4rem;
}

body {
  text-align: center;
  background-color: #808080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#pricing {
  padding: 100px;
}

.card {
  background-color: #F4ABC4;
}

.card-deck {
  padding-top: 75px;
}
